<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SEOMacroscope.MacroscopeEnvironment.MacroscopePreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="SEOMacroscope.MacroscopePreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<userSettings>
		<SEOMacroscope.MacroscopeEnvironment.MacroscopePreferences>
			<setting name="Depth" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="FetchImages" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FetchJavascripts" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FetchPdfs" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FetchStylesheets" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FollowNoFollow" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FollowRobotsProtocol" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="gonzo" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="HttpProxyUrl" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="HttpsProxyUrl" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="PageLimit" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ProbeHreflangs" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SameSite" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StartUrl" serializeAs="String">
				<value>
				</value>
			</setting>
		</SEOMacroscope.MacroscopeEnvironment.MacroscopePreferences>
		<SEOMacroscope.MacroscopePreferences>
			<setting name="Depth" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="FetchImages" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FetchJavascripts" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FetchPdfs" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FetchStylesheets" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FollowNoFollow" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FollowRobotsProtocol" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="HttpProxyUrl" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="HttpsProxyUrl" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="PageLimit" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ProbeHreflangs" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SameSite" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="StartUrl" serializeAs="String">
				<value>
				</value>
			</setting>
		</SEOMacroscope.MacroscopePreferences>
	</userSettings>
</configuration>