<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.88.0" targetFramework="net452" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net452" />
  <package id="Fastenshtein" version="1.0.0.4" targetFramework="net452" />
  <package id="FastMember.Signed" version="1.1.0" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net40" />
  <package id="HtmlAgilityPack.CssSelectors" version="1.0.2" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net452" />
  <package id="LanguageDetection" version="1.2.0" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.4000-beta3b" targetFramework="net40" />
  <package id="RobotsTxt" version="2014.02.19" targetFramework="net452" />
  <package id="SR2.Web.ExCSS" version="2.0.7" targetFramework="net452" />
</packages>