<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.85.0" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net40" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net40" />
  <package id="RobotsTxt" version="2014.02.19" targetFramework="net40" />
</packages>