<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SEOMacroscope.MacroscopePreferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.12.0" newVersion="1.8.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastMember.Signed" publicKeyToken="9e8f22703bef9a29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.4.0" newVersion="1.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SEOMacroscope.MacroscopePreferences>
      <setting name="AnalyzeClickPaths" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnalyzeKeywordsInText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnalyzeTextReadability" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AnalyzeTextReadabilityEnglishAlgorithm" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AppVersion" serializeAs="String">
        <value>v0.0.0.0</value>
      </setting>
      <setting name="CaseSensitiveTextIndexing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckExternalLinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckHreflangs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrawlChildDirectories" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CrawlDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CrawlParentDirectories" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CrawlStrictUrlCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomFiltersApplyToCss" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomFiltersApplyToHtml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomFiltersApplyToJavascripts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomFiltersApplyToText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomFiltersApplyToXml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CustomFiltersEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomFiltersMaxItems" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DataExtractorsApplyToCss" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataExtractorsApplyToHtml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataExtractorsApplyToJavascripts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataExtractorsApplyToText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataExtractorsApplyToXml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataExtractorsCleanWhiteSpace" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataExtractorsEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataExtractorsMaxItemsCssSelectors" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DataExtractorsMaxItemsRegexes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DataExtractorsMaxItemsXpaths" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Depth" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DescriptionMaxLen" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="DescriptionMaxWords" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="DescriptionMinLen" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DescriptionMinWords" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DetectLanguage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableLevenshteinDeduplication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableMemoryGuard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableTextIndexing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchBinaries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchExternalLinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FetchImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchJavascripts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchStylesheets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FetchXml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FollowCanonicalLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FollowHrefLangLinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FollowListLinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FollowNoFollow" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FollowRedirects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FollowRobotsProtocol" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FollowSitemapLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreHashFragments" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreQueries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaxFetchesPerWorker" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="MaxHeadingDepth" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MaxLevenshteinDistance" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="MaxLevenshteinSizeDifference" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="MaxRetries" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxThreads" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PageLimit" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="PauseDisplayDuringScan" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessAudio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessBinaries" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessJavascripts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessPdfs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProcessStylesheets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessVideo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProcessXml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RequestTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ResolveAddresses" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SameDomainTolerance" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ScanSitesInList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerCertificateValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowProgressDialogues" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SitemapIncludeLinkedPdfs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="TitleMaxLen" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="TitleMaxPixelWidth" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="TitleMaxWords" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TitleMinLen" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TitleMinWords" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="WarnAboutInsecureLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckRedirects" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FollowAlternateLinks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LevenshteinAnalysisLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IgnoreErrors410" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreErrors451" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisregardHtml5ElementNav" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisregardHtml5ElementFooter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisregardHtml5ElementHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DetectQrCodeInImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProbeHumansText" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RedirectChainsMaxHops" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>s</value>
      </setting>
      <setting name="ProxyType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutomaticallyCheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProbeParentFolderUrls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataExtractorsApplyToPdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DowncaseLinks" serializeAs="String">
        <value>False</value>
      </setting>
    </SEOMacroscope.MacroscopePreferences>
  </userSettings>
</configuration>
