/** Variables *****************************************************************/

$color-black:#000000;
$color-white:#FFFFFF;
$color-orange:#FF8800;
$color-purple:#9724A1;
$color-green:#448030;
$color-dark-grey:#444444;
$color-medium-grey:#888888;
$color-light-grey:#EEEEEE;
$color-transparent:rgba(0,0,0,0);

/** Body **********************************************************************/

body
{
	background-color:$color-light-grey;
}

/** Typography ****************************************************************/

main
{

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li
	{
		color:$color-dark-grey;
	}

	h1
	{
		font-size:40px;
		color:$color-purple;
	}

	h2
	{
		font-size:24px;
		margin-top:30px;
		margin-bottom:10px;
		color:$color-purple;
	}

	h3
	{
		font-size:20px;
		margin-top:20px;
		margin-bottom:10px;
		color:$color-orange;
	}
	
	h4
	{
		font-size:18px;
		margin-top:15px;
		margin-bottom:5px;
		color:$color-green;
	}
	
	h5
	{
		font-size:16px;
		margin-top:10px;
		margin-bottom:5px;
		color:$color-dark-grey;
	}

	h6
	{
		font-size:14px;
		margin-top:10px;
		margin-bottom:5px;
		color:$color-medium-grey;
	}

	p
	{
		color:$color-medium-grey;
	}

}

a
{
	color:$color-purple;
	&:visited
	{
		color:$color-purple;
	}
	&:hover
	{
		color:$color-orange;
	}
}

blockquote
{
	border-left-color:$color-purple;
}

/** Navigation ****************************************************************/

[role="navigation"] .nav-tabs
{
	font-weight:bold;

	border-width:0px;
	margin:0px 0px 0px 0px;

	[role="presentation"] a,
	[role="presentation"] a:visited
	{
		color:$color-purple;
		border-width:2px 0px 0px 0px;
		border-radius:0px;
		border-color:$color-purple;

	}

	[role="presentation"] a:hover
	{
		color:$color-orange;
		background-color:$color-transparent;
		border-color:$color-orange;
	}

}

/** Jumbotrons ****************************************************************/

.jumbotron
{

	background-color:$color-black;
	background-image:url('../media/images/jumbotron-background.png');
  background-repeat:no-repeat;
  background-position:top right;
	box-shadow:0px 10px 10px $color-medium-grey;

	.product-title
	{
		font-size:40px;
	}

  .product-title,
	a
  {
    color:$color-orange;
		text-shadow:0px 0px 3px $color-black;
  }

  .product-slogan
  {
		font-size:24px;
    color:$color-white;
		text-shadow:0px 0px 3px $color-black;
  }

}

/** Images ********************************************************************/

.box-shadow
{
	box-shadow:0px 0px 10px $color-medium-grey;
}

.screenshot
{
	margin-top:40px;
	margin-bottom:50px;
}

/** Buttons *******************************************************************/

a.btn-success
{
	color:$color-white;
	background-color:$color-green;
	&:hover
	{
		color:$color-dark-grey;
	}
}

/** Footer ********************************************************************/

footer
{
  background-color:#EEEEEE;
	margin:50px 0px 0px 0px;
	padding:10px 0px 10px 0px;
	border-style:solid;
	border-width:1px 0px 0px 0px;
	border-color:$color-medium-grey;
}

/** AdSense *******************************************************************/

.container-adsense
{
	margin-top:40px;
}

/******************************************************************************/
