/** Variables *****************************************************************/

$color-black: #000000;
$color-white: #FFFFFF;
$color-purple: #9724A1;

/** Body **********************************************************************/

body
{
	background-color:$color-black;
	background-image:url('../media/images/jumbotron-background.png');
  background-repeat:no-repeat;
  background-position:top right;
	background-attachment:fixed;
}

/** Navigation ****************************************************************/

[role="navigation"] .nav-tabs
{
	border-width:0px;

	[role="presentation"] a
	{
		color:$color-white;
	}

	[role="presentation"] a
	{
		border-width:0px 0px 1px 0px;
		border-radius:0px;
	}

	[role="presentation"] a:hover
	{
		color:$color-purple;
		background-color:rgba(0,0,0,0);
		border-color:$color-purple;
	}

}

/** Jumbotrons ****************************************************************/

.jumbotron
{

  background-color:rgba(0,0,0,0.75);

  h1, a
  {
    color:#FF8800;
  }

  h2
  {
    color:#AAAAAA;
  }

}


/** Typography ****************************************************************/

main
{

  background-color:rgba(0,0,0,0.75);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li
	{
		color:#FFFFFF;
	}

}












/** Footer ********************************************************************/

footer
{
  background-color:#EEEEEE;
  margin:100px 0px 0px 0px;
}

/******************************************************************************/
