/** Body **********************************************************************/

body
{
	background-color:#000000;
	background-image:url('../media/images/jumbotron-background.png');
  background-repeat:no-repeat;
  background-position:top right;
	background-attachment:fixed;
}

/** Jumbotrons ****************************************************************/

.jumbotron
{

  background-color:rgba(0,0,0,0.75);

  h1, a
  {
    color:#FF8800;
  }

  h2
  {
    color:#AAAAAA;
  }

}


/** Typography ****************************************************************/

main
{
	
  background-color:rgba(0,0,0,0.75);
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li
	{
		color:#FFFFFF;
	}

}












/** Footer ********************************************************************/

footer
{
  background-color:#EEEEEE;
  margin:100px 0px 0px 0px;
}

/******************************************************************************/
