/** This file intentionally bad **/

body {
  background-color: red;
}

div.content 
  background-image: url("https://nazuke.github.io/SEOMacroscope/media/images/jumbotron-background.png");
}

p {
  font-family: 'Times New Roman';

